<nz-table #dataTable [nzData]="data()">
  <thead>
    <tr>
      @for (column of selectedColumns; track column.prop) {
      <th>
        {{ column.title }}
      </th>
      }
    </tr>
  </thead>

  <tbody>
    @for (row of dataTable.data; track $index) {
    <tr>
      @for (column of selectedColumns; track column.prop) {
      <td>
        {{ row[column.prop] }}
      </td>
      }
    </tr>
    }
  </tbody>

  <tfoot>
    <tr>
      @for (column of selectedColumns; track column.prop) {
      <ng-container>
        @if (column.type === ColumnType.NUMBER) {
        <ng-container>
          @if (column.title === "Value") {
          <td>
            {{ data() | total : column.prop | currency : 'BRL' }}
          </td>
          } @else {
          <td>
            {{ data() | total : column.prop }}
          </td>
          }
        </ng-container>
        } @else {
        <td></td>
        }
      </ng-container>
      }
    </tr>
  </tfoot>
</nz-table>