<nz-layout>
  <nz-sider [nzTheme]="themeService.currentTheme" nzCollapsed>
    <div class="floating-my-finance-icon">
      B
    </div>

    <section>
      <ul nz-menu nzMode="inline" [nzTheme]="themeService.currentTheme">
        <li nz-menu-item>
          <i nz-icon nzType="home"></i>
        </li>

        <li nz-menu-item>
          <i nz-icon nzType="bar-chart"></i>
        </li>

        <li nz-menu-item>
          <i nz-icon nzType="table"></i>
        </li>
      </ul>
    </section>
  </nz-sider>

  <nz-content>
    <div class="floating-action-menu">
      <button nz-button nzType="text" nzShape="circle" (click)="changeTheme()">
        <ng-container [ngSwitch]="themeService.currentTheme">
          <i *ngSwitchCase="'light'" nz-icon nzType="bulb"></i>
          <i *ngSwitchCase="'dark'" nz-icon nzType="bulb" nzTheme="fill"></i>
        </ng-container>
      </button>
    </div>

    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
