<nz-layout>
  <nz-sider [nzTheme]="currentTheme" nzCollapsed>
    <div class="floating-my-finance-icon">
      <img
        id="logo"
        [src]="'../assets/IMG/' + currentTheme + '_logo.svg'"
        alt="LOGO"
      />
    </div>

    <section>
      <ul nz-menu nzMode="inline" [nzTheme]="currentTheme">
        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="home"></i>
          <a [routerLink]="['home']"></a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="table"></i>
          <a [routerLink]="['data']"></a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="bar-chart"></i>
          <a [routerLink]="['analysis']"></a>
        </li>

        <li nz-menu-item nzMatchRouter>
          <i nz-icon nzType="question-circle"></i>
          <a [routerLink]="['help']"></a>
        </li>
      </ul>
    </section>
  </nz-sider>

  <nz-content>
    <div class="floating-action-menu">
      <button
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="Upload previous downloaded information"
        nzTooltipPlacement="bottomRight"
        (click)="uploadData()"
      >
        <i nz-icon nzType="upload"></i>
      </button>

      <button
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="Download all of your information and analysis"
        nzTooltipPlacement="bottomRight"
        (click)="downloadData()"
      >
        <i nz-icon nzType="download"></i>
      </button>

      <a
        href="https://www.buymeacoffee.com/mateusrcm"
        target="_blank"
        nz-button
        nzType="text"
        nzShape="circle"
        nz-tooltip="Buy me a coffee!"
        nzTooltipPlacement="bottomRight"
      >
        <i nz-icon nzType="coffee"></i>
      </a>

      <button
        nz-button
        nzType="text"
        nzShape="circle"
        [nz-tooltip]="
          'Turn ' + (currentTheme === 'dark' ? 'on' : 'off') + ' the lights'
        "
        nzTooltipPlacement="bottomRight"
        (click)="changeTheme()"
      >
        <i
          nz-icon
          nzType="bulb"
          [class]="{
            fill: currentTheme === 'dark'
          }"
          [nzTheme]="currentTheme === 'dark' ? 'fill' : 'outline'"
        ></i>
      </button>
    </div>

    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
