<nz-tabset [nzTabBarExtraContent]="extraTemplate" nzSize="small">
  <nz-tab nzTitle="All">
    <mf-table [type]="'all'"></mf-table>
  </nz-tab>

  <nz-tab nzTitle="Debt">
    <mf-table [type]="'debt'"></mf-table>
  </nz-tab>

  <nz-tab nzTitle="Credit">
    <mf-table [type]="'credit'"></mf-table>
  </nz-tab>
</nz-tabset>

<ng-template #extraTemplate>
  <button
    nz-button
    nzType="text"
    nzShape="circle"
    nz-tooltip="Settings"
    nzTooltipPlacement="bottomRight"
    (click)="isOpen = !isOpen"
  >
    <i nz-icon nzType="setting"></i>
  </button>
</ng-template>

<nz-modal
  [nzVisible]="isOpen"
  nzTitle="Settings"
  nzWidth="60%"
  (nzOnCancel)="cancel()"
>
  <ng-container *nzModalContent>
    <mf-settings #mfSettings="mfSettings"></mf-settings>
  </ng-container>

  <ng-container *nzModalFooter>
    <nz-space nzDirection="horizontal">
      <button
        *nzSpaceItem
        nz-button
        nzType="primary"
        nzDanger
        (click)="cancel()"
      >
        Cancel
      </button>
      <button *nzSpaceItem nz-button nzType="primary" (click)="saveSettings()">
        Save
      </button>
    </nz-space>
  </ng-container>
</nz-modal>
