<h1 nz-typography>WELCOME!</h1>

<p nz-typography>
  Welcome to MyFinances, the website made to help you control your finances and
  have a real understanding of what has changed and how your financial evolution
  is going throughout the time. Better than that <del>crap</del> spreadsheet you have.
</p>

<p nz-typography>
  In <a [routerLink]="['/' + 'help']">this page</a> you can find some tutorials
  on how to use this website and take advantage of all the features available
  and also take a look on what we have planned for the future.
</p>

<p nz-typography>
  If you're already a user,
  <button nz-button nzType="link">click here</button> to upload your data and
  see what has changed since the last time you've been here.
</p>
